version: '3.8'
services:
  # --- 1. MySQL (Le Témoin Relationnel) ---
  mysql:
    image: mysql:8.0
    container_name: police_mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: policedb_sql
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init_mysql.sql:/docker-entrypoint-initdb.d/init.sql

  # --- 2. MongoDB (Le Dossier Document) ---
  mongo:
    image: mongo:6.0
    container_name: police_mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: adminpassword
      MONGO_INITDB_DATABASE: policedb_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
      - ./init_mongo.js:/docker-entrypoint-initdb.d/init.js:ro

  # --- 3. Neo4j (Le Réseau Graphe) ---
  neo4j:
    image: neo4j:5.12-community
    container_name: police_neo4j
    environment:
      NEO4J_AUTH: neo4j/password
      NEO4J_PLUGINS: '["apoc", "graph-data-science"]'
    ports:
      - "7474:7474" # Interface HTTP Browser
      - "7687:7687" # Port Bolt pour le code
    volumes:
      - neo4j_data:/data

  # --- 4. Redis (Le Temps Réel) ---
  redis:
    image: redis:7-alpine
    container_name: police_redis
    ports:
      - "6379:6379"

  # --- 5. Server (API Node.js) ---
  server:
    build: ../server
    container_name: police_server
    ports:
      - "5001:5000"
    depends_on:
      - mysql
      - mongo
      - neo4j
      - redis
    environment:
      - DB_HOST=mysql
      - MONGO_HOST=mongo
      - NEO4J_HOST=neo4j
      - REDIS_HOST=redis

  # --- 6. Client (React Frontend) ---
  client:
    build: ../client
    container_name: police_client
    ports:
      - "3000:3000"
    depends_on:
      - server
    stdin_open: true # Important pour React scripts
    tty: true

volumes:
  mysql_data:
  mongo_data:
  neo4j_data:
